In [2]:
import pandas as pd

In [6]:
goalscorers_df = pd.read_csv("goalscorers.csv")

In [8]:
goals_count = goalscorers_df['scorer'].value_counts()

In [9]:
top_goal_scorers = goals_count.head(10)

In [10]:
print("Top Goal Scorers:")
print(top_goal_scorers)

Top Goal Scorers:
scorer
Cristiano Ronaldo      111
Robert Lewandowski      62
Romelu Lukaku           61
Harry Kane              55
Lionel Messi            54
Edin Džeko              50
Ali Daei                49
Miroslav Klose          48
Aleksandar Mitrović     47
Carlos Ruiz             47
Name: count, dtype: int64